# React Native
node_modules/
.expo/
dist/
npm-debug.log
*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# Android
android/build/
android/app/build/
android/app/release/
android/app/debug/
android/.gradle/
android/.idea/
android/local.properties
android/*.iml

# iOS
ios/build/
ios/Pods/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Environment variables
.env